/* Mobile y Tablet style */

@media screen and (max-width:980px) {
	.header-container {
		max-width: 100%;
	}
	.servicios-container {
		max-width: 99%;
		border: none;
		border-radius: none;
		margin: 5px;
		padding: 3px;
	}
	.carousel_container {
		.container {
			max-width: 99%;
			border: none;
			border-radius: none;
			margin: 5px;
			padding: 3px;
			.carousel-inner {
				.carousel-item {					
					img {
						max-height: 250px;;   
					}
				}
			}	
		}
	}
	
	/* Inicio Servicios */

	.servicios-container {
		.servicios-grid {
			display: block;
			.container-curso-2 {
				.container-curso-2-texto {
					display: block;
					justify-content: left;
			
					.container-curso-2-imagen {
						&:hover {
							transform: scale(1);
						}
					}
				}
			}
		}
	}

	/* Fin Servicios */
	
	/* Inicio Contacto */

	.contacto-gap {
		grid-template-rows: repeat(5, 1fr);
	}
	
	/* Fin Acceder */
	
	/* Inicio Footer */

	.footer-text {
		font-size: medium;
		padding: 10px 20px;
	}
	
	/* Fin Footer */
}
/* Fin Mobile y Tablet style */