/* Inicio Sección Servicios */

@import '../base/extends';

.servicios-container {
	margin-top: 10px;
	margin-bottom: 10px;
	@extend %boder-content;
	padding: 10px;

	.servicios-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.1fr 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		.servicios-título {
			margin: 10px 0;
			padding: 10px 0;
			text-decoration: underline;
		}

		/* Inicio Sección Curso 1 */

		.container-curso-1 {
			padding-bottom: 10px;
			border-bottom: 2px black solid;
			.container-text-margin {
				margin-bottom: 1rem;
			}
			.container-curso-padding{
				padding:20px 0px;
				.container-text-margin {
					margin-bottom: 1rem;
				}
			}
		}
		
		/* Fin Sección Curso 1 */

		/* Inicio Sección Curso 2 */

		.container-curso-2 {
			padding-bottom: 10px;
			
			h3 {
				margin: 10px 0;
				padding:20px 0px;
				}
			

			.container-curso-2-texto {
				display: flex;
				padding-left: 10px;
				text-align: justify;
				.container-text-margin {
					margin-bottom: 1rem;
				}

				.container-curso-2-imagen {
					max-height: 200px;
					&:hover {
						transform: scale(1.5);
					}
				}
			}

		}

		/* Fin Sección Curso 2 */

	}
}

/* Fin Sección Servicios */
